<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grid">
    <div class="col-12">
      <p-button class="mt-4 mr-3" icon="pi pi-user" label="Submit"></p-button>
      <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
    </div>

    <div class="col-12">
      <p-calendar [(ngModel)]="date" dateFormat="dd.mm.yy"  [showIcon]="true"></p-calendar>
    </div>
  </div>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
